/*community模块公用css,维护原则：只增不减*/
/*css_reset初始化样式*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, cite, em, img, small, strong, a, b, i, dl, dt, dd, ol, ul, li,
form, label, legend, table, caption, tr, th, td, article, canvas, figure, footer, header, nav, section, audio, video {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: Arial,PingFangSC-Regular;
    margin: 0;
}

h2, h3, h4, h5, h6, i, cite, em {
    font-style: normal;
    font-weight: normal;
}

.clear{
    clear: both;
}

.clear-after {
    zoom: 1;
}

.clear-after:after {
    content: "&nbsp;";
    display: block;
    visibility: visible;
    width: 0;
    height: 0;
    clear: both;
    overflow: hidden;
}

/*三分之一*/
.col-xs-4 {
    float: left;
    position: relative;
    width: 33.33333333%;
    min-height: 1px;
    box-sizing: border-box;
}

/*右箭头*/
.arrow_right {
    position: absolute;
    top: 3.28rem;
    left: 1rem;
}

.arrow_right:before, .arrow_right:after {
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -20px;
    border: 10px solid transparent;
    border-left: 10px solid #fff;

}

.arrow_right:before {
    border-left-color: #CDCDCD;
    right: -21px;
}

/*左箭头*/
.arrow_left {
    position: absolute;
}

.arrow_left:before, .arrow_left:after {
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -11px;
    border: 10px solid transparent;
    border-right: 10px solid #fff;

}

.arrow_left:before {
    border-right-color: #CDCDCD;
    right: -10px;
}

* {
    /*-webkit-touch-callout:none;*/
    /*-webkit-user-select:none;*/
    /*-khtml-user-select:none;*/
    /*-moz-user-select:none;*/
    /*-ms-user-select:none;*/
    /*user-select:none;*/
}