@font-face {
    font-family: "fdd";
    font-weight: normal;
    font-style: normal;
    src: url("../font/fdd.eot");/*IE*/
    src: url("../font/fdd.eot#iefix") format("embedded-opentype"), url("../font/fdd.woff") format("woff"), url("../font/fdd.ttf") format("truetype"), url("../font/fdd.svg") format("svg")
}

#main_page{

}

.swiper-pagination-bullet{background:#efefef;}
.swiper-pagination-bullet-active{background:#fff;}
.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.search_block{
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fafafa;
    z-index: 1;
    position: relative;
    height: 50px;
    padding: 8px 0;
}

.search_block_fixed{
    display: none;
    position: fixed;
    top:0;
    left: 0;
}

.search_bar{
    width: 90%;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    position: relative;
    height: 34px;
    margin: 0px auto;
    background: #efefef;
    border-radius: 34px;
}

.inp-search{
    -webkit-box-flex: 1;
    flex: 1;
    padding: 9px 0;
    vertical-align: middle;
    line-height: normal;
    background: 0 0;
    font-size: 14px !important;
    color: #555;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

.ic-search:after{
    font-size: 17px;
    margin: 0 10px;
    content: "\f04b";
    color: #666;
    font-size: 21px;
    box-sizing: border-box;
    color: #333;

    font-family: fdd!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block
}


#choose_block{
    width: 100%;
    background-color: #fafafa;
    z-index: 1;
    position: relative;
}

.choose_bar{
    background-color: #fafafa;
    position: relative;
    z-index: 1;
    width: 100%;
}

.choose_bar_fixed{
    display: none;
    position: fixed;
    top:50px;
    left: 0;
}

.choose_bar ul{
    width: 100%;
}

.choose_bar li{
    list-style: none;
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 40px;
    line-height: 40px;

}

.choose_bar li span{
    font-weight: bold;
    color: #333;
}


.choose_bar li i{
    box-sizing: border-box;
    display: inline-block;
    padding-right: 15px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.choose_bar li i:after{
    content: "";
    position: absolute;
    right: 2px;
    top: 50%;
    width: 0;
    height: 0;
    overflow: hidden;
    margin-top: -2px;
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: #999 transparent transparent;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
}


.choose_bar li .on i:after {
    border-top-color: #ff611b;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.choose_house_type,.choose_house_flat,.choose_house_price{
    display: none;
    position: fixed;
    width: 100%;
    top: 90px;
    left: 0;
    background: #fff;
    height: 320px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;/*启用硬件加速*/
}

.choose_house_area{
    display: none;
    position: fixed;
    width: 100%;
    top: 90px;
    left: 0;
    background: #fff;
    height: 320px;
    overflow: hidden;
    overflow-y: hidden;
}

.choose_house_type li ,.choose_house_flat li,.choose_house_price li,.choose_house_area li{
    background: #fff;
    position: relative;
    padding: 0 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 45px;
    min-height: 45px;
    border-bottom: 1px solid #f3f3f3;
}

.choose_house_type li h5,.choose_house_flat li h5,.choose_house_price li h5,choose_house_area li h5{
    font-size: 14px;
    color: #555;
}

.choose_house_type li:hover h5,.choose_house_flat li:hover h5,.choose_house_price li:hover h5,.choose_house_area li:hover h5{
    font-size: 14px;
    color: #00afe8;
}

.choose_house_area li a{
    color: #333;
    text-decoration: none;
}

.choose_house_area li:hover a{
    color: #00afe8;
}

.choose_house_area .ui-area-left li{
    background: #f1f1f1;
    border: 0;
    padding-left: 15px;
}



.choose_house_area .ui-area-left li.on{
    background: #fff;
}

.choose_house_area  .ui-area-left{
    float: left;
    width: 35%;
    height: 320px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;/*启用硬件加速*/
}

.choose_house_area  .ui-area-right{
    float: left;
    width: 65%;
    height: 320px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;/*启用硬件加速*/
}

.choose_house_area .ui-area-right li{
    border: 0;
}

.choose_house_area .ui-area-right li a{
    text-decoration: none;
}

.choose_house_area .ui-area-right li:hover a{
    color: #00afe8;
}


#house_list{
    padding:10px 10px;
}

.house_item{
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
}

.house_info{
    color: #333;
}

.house_img{
    float: left;
    width: 30%;
}

.house_img img{
    width: 100%;
}

.house_summary{
    float: left;
    width: 42%;
    margin-left: 2%;
    font-size: 12px;
    color: #666;
    font-weight: normal;
}

.house_summary .house_name{
    font-size: 16px;
    color: #333;
}
.house_summary .house_area{
    line-height: 22px;
}

.house_return{
    float: right;
    width: 76px;
    text-align: center;
}

.house_return .return_img img{
    width: 40px;
    margin-bottom: 8px;
}

.house_return .return_des{
    font-size: 12px;
}

.return_price{
    font-size: 13px;
    color: #f00;
    font-weight: bold;
}

.house_address{
    margin: 10px 10px 0 0;
    padding: 4px 7.5px;
    font-size: 11.5px;
    border-radius: 2px;
    background: #F5F5F5;
    color: #666
}

